/* CSS Document */

*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
}

html, body{
	height: 100%;
	width: 100%;
        
}


.menu a {
  	color: #007bff;
	font-size: 20px;
  	text-decoration: none;
  	background-color: transparent;
	color: black;    
}

.menu a:hover {
  color: skyblue;
  text-decoration: underline;
}

ul, li{
	list-style: none;
}



#Titulo{
	height: 20%;
	background-color:#003840;
	display: flex;
	justify-content: center;
	align-content: center;
	font-size:calc(14px + 1vw);
	color: #40798C;
		
}

body{
	background-color: #CFE0C3;
}


.menu{
	width: 50%;
	display: flex;
	justify-content: space-around;
	
	
}
.menudis{
	
	display: flex;
	justify-content: center;
	background-color: #007369;
}
.opciones1{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.opciones1 > li {
	width: 22%;
	text-align: center;
}

li:hover > .opciones2{
	display: block;
}

.opciones2{
	display: none;
}

#presentacion{
	justify-content: center;
}

#presentacion2{
	display: flex;
	flex-direction: column;
}

.centrar{
	display: flex;
	justify-content: center;
}
.ContenidPagInc{
	display: flex;
	flex-direction: column;
	height: 50%;
}

.centrarVideos{
	display: flex;
	justify-content: center;
	height: 50%;
}

.centerImagen{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;

}

.centerImagenCorreo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;

}
.centrarImagen{
	display: flex;
	justify-content: center;
}

.encabezado{
	display: flex;
	flex-direction: column;
}

.ContenidoPagCont{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 10%;
}

.contactos{
	display: flex;
	justify-content: space-around;
	height: 20%;


}

.centrarContactos{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	height: 80%;
	justify-content: center;
    align-content: space-around;
	
}

.centrarContactos > div{
  width: 100%;   
}

.gmail{
	width: 30%;
	
}

.VideoDemo{
	height: 90%;
	width: 100%;
}

.videosAnima{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.animaciones{
	align-items: center;
	width: 75%;
	height: 75%;
}

.centrarImg{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modelado{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.correo{
	align-self: flex-start;
}

.frameborder{
	border: 0px;
}

img:hover{
	transform: scale(1.1);
}

.texto{
	
	width: 50%;
	align-self: flex-end;
	
}

.info{
	
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 55%;

}

.foto{
	width: 25%;
}

.info2{
	display: flex;
	height: 60%;
	font-size: 20px;
	align-content: flex-end;
	justify-content: space-around;
	
}

.foto2{
	width: 100%;
}

.twitter{
	height: 100%;
}

.linkedin{
	width:  100%;
}

.centerImagenTwitter{
	display: flex;
	justify-content: flex-end;
	width: 30%;
}

.centerImagenTwitter a{
    display: flex;
	justify-content: flex-end;
    width: 40%;
}

